{% extends 'base.html.twig' %}

{% set page_title = 'New Contact' %}

{% block body %}

<section>

    <button>
        <a href="{{ path('contacts_all') }}">Back to contacts</a>
    </button>

    {{ form(form) }}

</section>

{% endblock %}

